<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <title>Binar Academy - Gold Challange</title>
    <!-- code for the navigation header bar-->
    <header
      style="height: 80px"
      class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap shadow"
    >
      <!-- <a class="navbar-brand" href="#">
            <img src="https://global-uploads.webflow.com/62fdaf934899cf5b43a00e1a/630452503bf80f5e2097fe6b_minimal-logo-binar-academy.svg"
                alt="binar-logo" width="60" height="40">
        </a> -->
      <a class="navbar-brand ms-3" href="/"
        >API for Cleansing Data and Sentiment Analysis</a
      >
      <button
        class="navbar-toggler position-absolute d-md-none collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto my-2">
        <a
          class="me-3 py-2 text-decoration-none text-light"
          style="font-size: 20px"
          href="/docs"
          >Get started</a
        >
        <a
          class="me-3 py-2 text-light text-decoration-none"
          style="font-size: 20px"
          href="/"
          >Home</a
        >
        <!-- <a class="me-3 py-2 text-light text-decoration-none" style="font-size: 20px" href="templates/visualize">Visualize</a> -->
        <a
          class="me-3 py-2 text-light text-decoration-none"
          style="font-size: 20px"
          href="https://github.com/yobnaolo/2300968_11_BOP_API-for-cleansing-data-and-sentiment-analysis_Platinum"
          >Code</a
        >
      </nav>
      <!-- <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link text-dark card" style="font-size: 20px; padding: 3px" href="/logout">Sign out</a>
            </li>
        </ul> -->
    </header>
    <style>
      .carousel-item {
        height: 34rem;
        background: black;
        color: white;
        position: relative;
        background-position: center;
        background-size: cover;
      }

      .carousel-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 10px;
      }

      .overlay-image {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 0px;
        background-position: center;
        background-size: cover;
        opacity: 0.4;
      }
    </style>
  </head>

  <body>
    <!--This is the start of the image slider-->
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div style="height: 10px">
          <div class="carousel-item active">
            <div class="overlay-image">
              <img
                src="https://drive.google.com/uc?export=view&id=1J6G_QAmBwZ25H57ivRwx0gudLnPDuc62"
                style="width: 100%"
              />
            </div>
            <div class="carousel-caption">
              <b>
                <h1 style="font-size: 30px">Let's get started!</h1>
              </b>

              <a
                href="/docs"
                class="btn btn-primary btn-block btn-lg"
                style="background-color: crimson; font-size: 10px"
              >
                Click Here to Analyze Some Tweets</a
              >
              <br />
              <br />
            </div>
          </div>
          <div class="carousel-item">
            <div class="overlay-image">
              <img
                src="https://drive.google.com/uc?export=view&id=1PdRNMoN2gU2mZ_i_sntas_wDX04I3WWo"
                style="width: 100%"
              />
            </div>
            <div class="carousel-caption">
              <b>
                <h1 style="font-size: 30px">How does this work?</h1>
              </b>
              <a
                href="https://github.com/yobnaolo/2300968_11_BOP_API-for-cleansing-data-and-sentiment-analysis_Platinum"
                class="btn btn-primary btn-block btn-lg"
                style="background-color: crimson; font-size: 10px"
              >
                Click Here to know more about this project</a
              >
              <br /><br />
            </div>
          </div>
          <div class="carousel-item">
            <div class="overlay-image">
              <img
                src="https://drive.google.com/uc?export=view&id=1O158BSBF6Ep_K42CfuvB0-mzTQrfY-Tx"
                style="width: 100%"
              />
            </div>
            <div
              class="carousel-caption"
              style="align-self: start; padding-top: 20px"
            >
              <b>
                <h1 style="font-size: 100px">Features</h1>
              </b>
              <br />
              <div
                class="btn btn-block btn-lg"
                style="
                  background-color: black;
                  color: white;
                  font-weight: bold;
                  font-size: 30px;
                  text-align: left;
                  font-family: 'Franklin Gothic Book';
                "
              >
                - Cleansing API <br />
                - Sentiment API <br />
                - Get Database API <br />
              </div>
              <br /><br />
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <style>
      .footer {
        bottom: 0;
        left: 0;
        right: 0;
        background: purple;
        color: white;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>

    <div class="footer">
      &copy;<span id="year"> </span
      ><span> Group 1. DSC Wave 11 - Binar Academy.</span>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
  </body>
</html>
